@value edit-bg-color, smokywhite, accent-color from "/src/common/color.css";

.container {
  background-color: edit-bg-color;
  padding: 0.4rem 1rem;
}

.input {
  width: 85%;
  padding: 0.2rem;
}

.button {
  border: none;
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: accent-color;
}
