@value black, smokywhite, accent-color from "/src/common/color.css";

.header {
  width: 32rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: smokywhite;
}

.header_container {
  display: flex;
  align-items: center;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

.title {
  margin: 0.5rem;
  font-size: 2rem;
}

.username {
  font-size: 0.8rem;
  color: accent-color;
  padding-top: 0.5rem 0;
}
