@value black, smokywhite from "/src/common/color.css";

.header {
  width: 32rem;
  display: flex;
  align-items: center;
  background-color: black;
  color: smokywhite;
  font-size: 2rem;
}

.logo {
  margin: 0 0.5rem;
}
