@value accent-color from "/src/common/color.css";

.container {
  padding: 0rem;
  margin-top: 1rem;
  height: 100%;
  overflow-y: scroll;
}

.container::-webkit-scrollbar-thumb {
  color: accent-color;
}
