@value accent-color, smokywhite from "/src/common/color.css";

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.input {
  margin: 0.25rem 0;
  padding: 1px 2px;
  height: 1.5rem;
}

.checkbox_container {
  margin-top: 0.5rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.button {
  border: none;
  cursor: pointer;
  background-color: accent-color;
  color: white;
  padding: 0.4rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
