@value accent-color, button-red-color from "/src/common/color.css";

.input {
  padding: 0.1rem;
  font-size: 1rem;
}

.updateBtn,
.cancelBtn {
  width: 3.5rem;
  padding: 0.2rem;
  margin-right: 0.5rem;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.updateBtn {
  background-color: accent-color;
}

.cancelBtn {
  background-color: button-red-color;
}

.button_container {
  margin-top: 0.4rem;
  display: flex;
  justify-content: end;
}
