.container {
  display: flex;
  align-items: center;
  width: 90%;
  border: 1px solid black;
  padding: 0.5rem;
  margin: auto;
}

.thumbnail {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.description {
  flex: 100%;
  margin-left: 1rem;
}

.user {
  display: flex;
  height: 1rem;
  align-items: center;
}

.user_name,
.user_id,
.user_createdAt {
  margin: 0;
  margin-right: 0.2rem;
}

.text {
  margin: 0;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
